---
import SinglePageLayout from "../layouts/SinglePageLayout.astro";
---

<SinglePageLayout title="Daniel Segarra: We Workin Here.">
  <main>
    <h1>404</h1>
    <p>Yeah that's not a thing...</p>
  </main>
</SinglePageLayout>

<style>
  main {
    color: white;
    text-align: center;
  }

  h1 {
    font-size: 8rem;
  }

  p {
    font-size: 1.5rem;
  }
</style>
