---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Daniel Segarra: We Workin Here.">
  <p>I should probably talk about myself here...</p>
</MainLayout>

<style></style>
