---
import MainLayout from "../layouts/MainLayout.astro";
import ContactForm from "../components/ContactForm.astro";
---

<MainLayout title="Contact">
  <div id="contact-form">
    <ContactForm />
  </div>
</MainLayout>

<style>
  #contact-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
</style>
