---
import SinglePageLayout from "../layouts/SinglePageLayout.astro";
import ContactForm from "../components/ContactForm.astro";
---

<SinglePageLayout title="Contact">
  <div id="contact-form">
    <ContactForm />
  </div>
</SinglePageLayout>

<style>
  #contact-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
</style>
