---
import OverflowXLayout from "../layouts/OverflowXLayout.astro";
import ContactForm from "../components/ContactForm.astro";
---

<OverflowXLayout title="Contact">
  <div id="contact-form">
    <ContactForm />
  </div>
</OverflowXLayout>

<style>
  #contact-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
</style>
