---
import SinglePageLayout from "../layouts/SinglePageLayout.astro";
import Project from "../components/Project.astro";
---

<SinglePageLayout title="Portfolio">
  <div id="projects">
    <!-- <Project link="" title="" /> -->
    <Project
      link="https://sumaryzethat.danielsegarra.dev/"
      title="Sumaryze That!"
    />
    <Project link="https://danielsegarra.dev/Yahtzee" title="Yahtzee" />
    <Project
      link="https://danielsegarra.dev/throwingAxeMenuAnimation"
      title="Throwing Axe Menu Animation (SVG Transformations)"
    />
    <Project
      link="https://danielsegarra.dev/CFFG2PB"
      title="Brand to App Logo (SVG Transformations)"
    />
    <Project link="#" title="OGalaga" />
    <!-- <Project link="" title="" /> -->
  </div>
</SinglePageLayout>

<style>
  #id {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* Set width and height to contain the curve */
    width: 500px;
    height: 200px;
    /* Add a background color for demonstration */
    background-color: lightgray;
    /* Use a border-radius to create a curved effect */
    border-radius: 50% / 100%;
    overflow: hidden; /* Clip the curved corners */
    position: relative;
  }
  #projects {
    display: flex;
    justify-content: center;
    align-items: start;
    width: 80%;
    max-width: 650px;
    gap: 2rem;
    margin: 0 auto;
  }
</style>
