---
import SinglePageLayout from "../layouts/SinglePageLayout.astro";
---

<SinglePageLayout title="Portfolio">
  <h1>Previous Work</h1>
  <p>COMING SHORTLY...</p>
</SinglePageLayout>

<style></style>
