---
import MainLayout from "../layouts/MainLayout.astro";
import SinglePageLayout from "../layouts/SinglePageLayout.astro";
import PerspectiveContainer from "../layouts/PerspectiveContainer.astro";
import WorkInfo from "../components/WorkInfo.astro";

let pr_color = "#fff";
let second_color = "#0a0a0a";
let color_1_1 = "#be2518";
let color_1_2 = "#ff6b4f";
let cubicbz = "cubic-bezier(0.9, 0, 0.1, 1)";
let fz_big = "60px";
let pd = "50px";
---

<MainLayout title="Daniel Segarra: Portfolio">
  <div class="window_split_sticky_scroll">
    <div class="scroll_window">
          <WorkInfo
            label="01"
            title_line_1="Auto"
            title_line_2="Meal"
            description="Automated food recommendations based on your pantry, wants, and needs."
            link="https://github.com/automeal/AutoMeal"
            button_text="try now"
          />
          <WorkInfo
            label="02"
            title_line_1="Sumaryze"
            title_line_2="That!"
        description="Leveraging OpenAI to summarize YouTube videos with ease."
            link="http://sumaryzethat.danielsegarra.dev/"
            button_text="try now"
          />
          <WorkInfo
            label="03"
            title_line_1=""
            title_line_2="OGalaga"
            description="Classic game written in OCaml."
            link="https://github.com/buhotech/OGalaga"
            button_text="play now"
          />
          <WorkInfo
            label="04"
            title_line_1=""
            title_line_2="Yahtzee"
            description="Digitizing a classic handheld experience"
            link="http://danielsegarra.dev/yahtzee"
            button_text="play now"
          />
        </div>
    <div class="sticky_window">
      <img
        class="sticky_content"
        title="AutoMeal (random 'fruit' image)"
        alt="fruit (random image)"
                src="https://source.unsplash.com/random/400×400/?fruit"
      />
      <img
        class="sticky_content"
        title="Sumaryze That! (random 'AI' image)"
        alt="AI (random image)"
        src="https://source.unsplash.com/random/400×400/?ai"
      />
              <!-- <iframe
                src="http://sumaryzethat.danielsegarra.dev/"
                width="100%"
                height="100%"
                frameborder="0"></iframe> -->
              <img
        class="sticky_content"
        title="OGalaga (random 'spaceship' image)"
        alt="spaceship (random image)"
                src="https://source.unsplash.com/random/400×400/?spaceship"
              />
              <img
        class="sticky_content"
        title="Yahtzee (random 'yahtzee dice' image)"
        alt="yahtzee dice (random image)"
                src="https://source.unsplash.com/random/400×400/?yahtzee%20dice"
              />
    </div>
  </div>
</MainLayout>

<style
  define:vars={{
    pr_color,
    second_color,
    color_1_1,
    color_1_2,
    cubicbz,
    fz_big,
    pd,
  }}
>
  :root {
    --pr-color: #fff;
    --second-color: #0a0a0a;
    --color-1-1: #be2518;
    --color-1-2: #ff6b4f;
  }

  * {
    box-sizing: border-box;
    font-family: "Syne", sans-serif;
    font-weight: 800;
    margin: 0;
    padding: 0;
    /* font-feature-settings: "pnum" on, "lnum" on; */
  }

  body {
    background-color: var(--second-color);
  }

  .window_split_sticky_scroll {
    position: relative;
    width: 100%;
    height: auto;
    padding: 0 20px;
    z-index: 1;
    display: flex;
  }

  .scroll_window {
    position: relative;
    width: 54%;
    z-index: 2;
    /* outline: 1px solid red; */
  }

  .sticky_window {
    width: 46%;
    height: 100vh;
    position: sticky;
    top: 25vh;
    /* display: flex; */
    /* flex-direction: column; */
    /* max-width: 400px; */
    max-width: 30%;
    height: 50vh;
    /* margin-right: auto; */
    cursor: pointer;
    border-radius: 80px;
    overflow: hidden;
    margin: 25vh auto 25vh 0px;
    margin-top: 25vh;
  }

  .sticky_content {
    position: absolute;
    display: block;

    width: 100%;
    height: 100%;
    object-fit: cover;

    background-color: black;
    text-align: center;
    color: white;
    font-size: 2rem;
    line-height: 30vh;
  }

  .sticky_content:not(:last-child) {
    clip-path: none;
  }

  @media screen and (max-width: 500px) {
    .sticky_window {
      top: 15%;
      margin-top: 0px;
      margin-left: auto;
      margin-right: 0;
    }
  }
</style>
<script
  define:vars={{
    pr_color,
    second_color,
    color_1_1,
    color_1_2,
    cubicbz,
    fz_big,
    pd,
  }}
>
  document.addEventListener("DOMContentLoaded", function () {
    "use strict";

    gsap.registerPlugin(ScrollTrigger);

    // lenis smooth scroll
    const lenis = new Lenis({
      duration: 1.2,
    });
    function raf(time) {
      lenis.raf(time);
      requestAnimationFrame(raf);
    }

    requestAnimationFrame(raf);

    // Integration Lenis on GSAP ScrollTrigger
    lenis.on("scroll", ScrollTrigger.update);

    gsap.ticker.add((time) => {
      lenis.raf(time * 1000);
    });

    let workInfoItems = document.querySelectorAll(".sticky_content");
    workInfoItems.forEach(function (item, index) {
      item.style.zIndex = workInfoItems.length - index;
    });

    gsap.set(".sticky_content", {
      clipPath: function () {
        return "inset(0px 0px 0px 0px)";
      },
    });

    const animation = gsap.to(".sticky_content:not(:last-child)", {
      clipPath: function () {
        return "inset(0px 0px 150% 0px)";
      },
      stagger: 0.5,
      ease: "none",
    });

    ScrollTrigger.create({
      trigger: ".window_split_sticky_scroll",
      start: "top-top",
      end: "bottom bottom",
      animation: animation,
      scrub: 2,
      // scrub: workInfoItems.length,
    });
  });
</script>

<!-- lenis, gsap, and gsap scroll trigger -->
<script
  is:inline
  src="https://cdn.jsdelivr.net/gh/studio-freight/lenis@1.0.0/bundled/lenis.js"
></script>
<script
  is:inline
  src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.0/gsap.min.js"></script>
<script
  is:inline
  src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.0/ScrollTrigger.min.js"
></script>
