---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Professional Work" footer={false}>
  <nav>
    <ul>
      <li>
        <a href="/education"><mark>Technical Instructor</mark></a>
      </li>
      <li>
        <a href="/portfolio"><mark>Software Engineer</mark></a>
      </li>
    </ul>
  </nav>
</MainLayout>

<style>
  nav,
  ul,
  a {
    width: 100%;
    height: 100%;
  }

  nav {
    overflow: hidden;
  }

  ul,
  li > a {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  li:nth-child(1):before,
  li:last-child:before {
    content: "";
    position: absolute;
    width: 50%;
    height: 100%;
  }

  li:nth-child(1):before {
    top: 0;
    left: 0;
  }

  li:nth-child(1):before {
    bottom: 0;
    right: 0;
  }

  li {
    /*! height: 50%; */
    position: relative;
    list-style-type: none;
    flex: 1 0 0%;
    align-self: stretch;
    /*   font-size: clamp(1.2rem, 0.8579rem + 2.1895vw, 2.5rem); */
    font-size: clamp(1.2rem, 0.6091rem + 3.7818vw, 2.5rem);
  }

  li > a {
    height: 100%;
    padding: 0 1rem;
    text-decoration: none;
    color: black;
    transform: skewX(-5deg);
    transition: all 2s ease;
  }

  li > a:focus,
  li > a:hover {
    box-shadow: -10px 0px 5px 5px #484848;
    scale: 1.2;
  }

  a::after {
    content: "";
    position: absolute;
    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    transition: all 2s ease;
  }

  a:focus::after,
  a:hover::after {
    content: "";
    position: absolute;
    inset: -1rem;
    filter: blur(2.5em);
    z-index: -1;
    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    transition: all 2s ease;
  }

  li:nth-child(1) > a:focus::after,
  li:nth-child(1) > a:hover::after {
    background: linear-gradient(to bottom right, #5b8f691c, 90%, #4d795694);
  }

  li:nth-child(2) > a:focus::after,
  li:nth-child(2) > a:hover::after {
    background: linear-gradient(to bottom right, #4245440d, 80%, #393939);
  }

  li:nth-child(1),
  li:nth-child(1):before,
  li:nth-child(1) > a {
    background: url("../assets/DanielTeachingCropped1.jpg");
    background-position: right;
    color: darkgoldenrod;
    background-repeat: no-repeat;
    background-size: cover;
  }

  li:nth-child(1):before {
    background-position: center top;
  }

  li:nth-child(2) > a {
    background: url("https://media.istockphoto.com/id/1294575605/video/freelancer-working-on-his-laptop-at-night.jpg?s=640x640&k=20&c=I2lm8Av87-nPsp6_RUefXLyPM99l02ogQCZY253oi4o=");
    background-position: right;
    background-repeat: no-repeat;
    background-color: black;
    background-size: 250%;
  }

  li:nth-child(2):before {
    background-color: black;
  }

  mark {
    padding: 0.5rem 1rem;
    background-color: white;
  }

  li:hover {
    z-index: 100;
    background-size: contain;
    background-repeat: no-repeat;
  }
</style>
