---
import FooterStamp from "./FooterStamp.astro";
import FooterSocials from "./FooterSocials.astro";
---

<footer>
  <!-- <div>&copy;2021 Daniel Segarra Corps.</div> -->
  <!-- <div>contact</div>
      <div>menu option</div>
      <div>donate</div> -->
  <FooterSocials />
  <FooterStamp />
</footer>

<style>
  footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 1rem 2rem 0;
  }
</style>
