<div id="comment-container">
  <div>
    como la flor...<span class="emoji"
      >&nbsp;&#x1F339;&nbsp;&#x1F339;&nbsp;&#x1F339;&nbsp;</span
    >con tantos bugs<span class="emoji"
      >&nbsp;&#x1F41B;&nbsp;&#x1F41B;&nbsp;&#x1F41B;</span
    >
  </div>
  <div>
    coming to a browser near you!<span class="emoji">&nbsp;&#x1F60B;</span>
  </div>
  <div>
    shh I'm watching Spirited Away<span class="emoji">&nbsp;&#x1F60B;</span>
  </div>
  <div>
    i need tiiiiime to debug, I needa buiiiiilldd my repo<span class="emoji"
      >&nbsp;&#x1F60B;</span
    >
  </div>
  <div>
    what am i supposed to do, click around and find some views?<span
      class="emoji">&nbsp;&#x1F60B;</span
    >
  </div>
  <div>
    do you believe in bytes after bugs?<span class="emoji">&nbsp;&#x1F60B;</span
    >
  </div>
  <div>
    do you believe in life after footers?<span class="emoji"
      >&nbsp;&#x1F60B;</span
    >
  </div>
  <div>
    we don't gatekeep here<span class="emoji">&nbsp;&#x1F60B;</span>
  </div>
  <div>
    askfbhsdjgabdkhbgalnlandsjf<span class="emoji">&nbsp;&#x1F60B;</span>
  </div>
  <div>
    Seasons change, people change, but the footer remains the same<span
      class="emoji">&nbsp;&#x1F60B;</span
    >
  </div>
  <div>
    Fun Fact: I'm right behind you<span class="emoji">&nbsp;&#x1F60B;</span>
  </div>
  <div>
    i see you...<span class="emoji">&nbsp;&#x1F60B;</span>
  </div>
  <div>
    well, that's all i got...<span class="emoji">&nbsp;&#x1F60B;</span>
  </div>
  <div>
    funny cultural reference<span class="emoji">&nbsp;&#x1F60B;</span>
  </div>
  <div>
    oh man i think i got off on the wrong stop again<span class="emoji"
      >&nbsp;&#x1F631;</span
    >
  </div>
  <div>
    sit up straight! - mom<span class="emoji">&nbsp;&#x1F60B;</span>
  </div>
  <div>
    watch where you're walking!<span class="emoji">&nbsp;&#x1F60B;</span>
  </div>
  <div>
    and i think to myself what a wonderful footer<span class="emoji"
      >&nbsp;&#x1F60B;</span
    >
  </div>
  <div>
    i seee text in greeeeen, red links too, i see them blue for me and you<span
      class="emoji">&nbsp;&#x1F339;&nbsp;&#x1F339;&nbsp;&#x1F339;</span
    >
  </div>
  <div>
    meow<span class="emoji">&nbsp;&#x1F63A;</span>
  </div>
  <div>
    iiiiiimmmm eeeevery codeerrr, it's all in meeeee<span class="emoji"
      >&nbsp;&#x1F60B;</span
    >
  </div>
  <div>
    the revolution will be falsified (by AI) <span class="emoji"
      >&nbsp;&#x1F913;</span
    >
  </div>
  <div>
    I got 99+ problems and this contributed a lot to that<span class="emoji"
      >&nbsp;&#x1F60B;</span
    >
  </div>
  <div>
    is this the shadow realm??<span class="emoji">&nbsp;&#x1F631;</span>
  </div>
  <div>
    get in loser we're going footering...<span class="emoji"
      >&nbsp;&#x1F60B;</span
    >
  </div>
  <div>
    footerism<span class="emoji">&nbsp;&#x1F60B;</span>
  </div>
  <div>
    to foot or not to foot...<span class="emoji">&nbsp;&#x1F60B;</span>
  </div>
  <div>
    what's in the footer!?<span class="emoji">&nbsp;&#x1F60B;</span>
  </div>
  <div>
    Show me the footer!<span class="emoji">&nbsp;&#x1F60B;</span>
  </div>
  <div>
    Frankly my dear, I don't give a footer...<span class="emoji"
      >&nbsp;&#x1F60B;</span
    >
  </div>
  <div>
    The content is out there...<span class="emoji">&nbsp;&#x1F47D;</span>
  </div>
  <div>
    There's my header... there's my footer... omg where's the rest of me?!<span
      class="emoji"
      >&nbsp;&#x1F631;&nbsp;&#x1F631;&nbsp;&#x1F631;&nbsp;&#x1F631;</span
    >
  </div>
  <div>
    no one put's footer in the corner<span class="emoji">&nbsp;&#x1F60B;</span>
  </div>
  <div>
    S01E19: the one with the funny footer<span class="emoji"
      >&nbsp;&#x1F60B;</span
    >
  </div>
  <div>
    BREAKING NEWS: FOOTER FOUND<span class="emoji">&nbsp;&#x1F60B;</span>
  </div>
  <div>
    *pause for applause...*<span class="emoji">&nbsp;&#x1F60B;</span>
  </div>
  <div>
    Ahh!! I forgot my nightlight!<span class="emoji">&nbsp;&#x1F631;</span>
  </div>
  <div>
    Ahh!! I forgot to add a footer message!!<span class="emoji"
      >&nbsp;&#x1F631;</span
    >
  </div>
  <div>
    Don't forget to like, comment, and subscribe! Wait wrong platform...<span
      class="emoji">&nbsp;&#x1F914;&nbsp;&#x1F914;&nbsp;&#x1F914;</span
    ><span class="emoji">&nbsp;&#x1F60B;</span>
  </div>
  <div>
    Sorry which way is the princess's castle?<span class="emoji"
      >&nbsp;&#x1F60B;</span
    >
  </div>
  <div>
    If found, please return to engineer#24601<span class="emoji"
      >&nbsp;&#x1F60B;</span
    >
  </div>
  <div>
    404: Footer not found<span class="emoji">&nbsp;&#x1F914;</span>
  </div>
  <div>
    just a sec, im looking up why that doesn't work<span class="emoji"
      >&nbsp;&#x1F914;</span
    >
  </div>
  <div>
    <span class="emoji">&#x2744;&nbsp;</span>the code never bothered me
    anyway...<span class="emoji">&nbsp;&#x2744;</span>
  </div>
  <div>
    live, laugh, leave before the darkness consumes you!<span class="emoji"
      >&nbsp;&#x1F60B;</span
    >
  </div>
  <div>
    this could be your joke! - just email: not@chance.com<span class="emoji"
      >&nbsp;&#x1F60B;</span
    >
  </div>
  <div>
    *90's techno-punk intensifies*<span class="emoji">&nbsp;&#x1F3B8;</span>
  </div>
  <div>
    no signs of content down here<span class="emoji">&nbsp;&#x1F914;</span>
  </div>
  <div>
    crunch crunch...<span class="emoji">&nbsp;&#x1F60B;</span>
  </div>
  <div>
    i went to college for this!<span class="emoji">&nbsp;&#x1F60B;</span>
  </div>
  <div>
    still working on my standup routine<span class="emoji">&nbsp;&#x1F60B;</span
    >
  </div>
  <div>
    tough crowd<span class="emoji">&nbsp;&#x1F644;</span>
  </div>
  <div>
    pasa la contraseña<span class="emoji">&nbsp;&#x1F3B6;</span>
  </div>
  <div>
    no tengo dinero ni nada que dar<span class="emoji">&nbsp;&#x1F3B6;</span>
  </div>
  <div>
    don't youuu forgeet about meee<span class="emoji">&nbsp;&#x1F60B;</span>
  </div>
  <div>
    it's my website and i'll type if i want to<span class="emoji"
      >&nbsp;&#x1F60B;</span
    >
  </div>
  <div>
    anything beyond function is art<span class="emoji">&nbsp;&#x1F3A8;</span>
  </div>
  <div>
    as above, so below<span class="emoji">&nbsp;&#x1F47B;</span>
  </div>
  <div>
    ADVERTISE HERE!<span class="emoji">&nbsp;&#x1F4B0;</span>
  </div>
  <div>
    i feel i should take this at least a bit seriously<span class="emoji"
      >&nbsp;&#x1F914;</span
    >
  </div>
  <div>
    am i really all alone down here?<span class="emoji">&nbsp;&#x1F622;</span>
  </div>
  <div>
    no one's even gonna come here<span class="emoji">&nbsp;&#x1F644;</span>
  </div>
  <div>
    still here?? what is this, some kind of &ltfoot&gt fetish??<span
      class="emoji">&nbsp;&#x1F9B6;&#x1F3FB;</span
    >
  </div>
  <div>
    hey... it's not too bad here...<span class="emoji">&nbsp;&#x1F60A;</span>
  </div>
  <div>
    <span class="emoji">&nbsp;&#x1F4B8;&nbsp;</span>pesos over Bezos amirite?? -
    SUPPORT LOCAL<span class="emoji">&nbsp;&#x1F4B8;</span>
  </div>
  <div>
    Now accepting footer message suggestions!<span class="emoji"
      >&nbsp;&#x1F60F;</span
    >
  </div>
  <div>
    Insert funny footer message here<span class="emoji">&nbsp;&#x1F60E;</span>
  </div>
  <div>
    100% handcoded with love...and maybe some frustration<span class="emoji"
      >&nbsp;&#x1F60B;</span
    >
  </div>
  <div>
    its dark down here, huh?<span class="emoji">&nbsp;&#x1F440;</span>
  </div>
  <div>
    <em>More?</em> Are you <strong>not</strong> entertained?<span class="emoji"
      >&nbsp;&#128580;</span
    >
  </div>
  <div>
    always watching... beep boop, beep boop... jk<span class="emoji flip"
      >&nbsp;&#x1F3C3;</span
    >
  </div>
  <div>
    ahhh get me out of here!<span class="emoji">&nbsp;&#x1F631;</span>
  </div>
  <div>
    jury-rigging my jerry-rigged code<span class="emoji">&nbsp;&#x1F60B;</span>
  </div>
</div>

<style>
  .comment,
  #comment-container > * {
    display: none;
    font-style: italic;
  }
  .emoji {
    /* font-size: 1.5rem; */
    font-style: normal;
    display: none;
  }

  .flip {
    display: inline-block;
    transform: scale(-1, 1);
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
  }
</style>

<script>
  // randomly select a comment
  const comment = document.getElementById("comment-container");
  if (comment) {
    const commentChildren = comment.children;
    const randomCommentIndex = Math.floor(
      Math.random() * commentChildren.length
    );

    // console.log(`commentChildren: ${commentChildren}`);
    // print commentChildren to console
    // for (let i = 0; i < commentChildren.length; i++) {
    //   console.log(commentChildren[i]);
    // }
    // console.log(
    //   `randomCommentIndex: ${randomCommentIndex}, randomBuildLinkIndex: ${randomBuildLinkIndex}`
    // );
    // const randomComment =
    commentChildren[randomCommentIndex].setAttribute("style", "display: block");
  }
</script>
