---
import Marquee from "./Marquee.astro";
interface Props {
  marquee?: boolean;
}

const { marquee = false } = Astro.props;

let navPadding = marquee ? "0 0 1.2rem 0;" : "1.2rem 0;";
---

<header>
  {marquee ? <Marquee /> : <div />}
  <nav>
    <div class="nav-link-container">
      <a class="nav-link" href="/">home</a>
      <a class="nav-link" href="/work">work</a>
    </div>
    <!-- <div id="logo"><img src="./logo.png" alt="LOGO" /></div> -->
    <a class="nav-logo" href="/">
      <!-- <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
        <lottie-player src="animation.json" background="transparent" speed=".25" loop autoplay></lottie-player> -->
      <svg
        id="logo"
        viewBox="0 0 20 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          id="animatedCurve"
          d="M8.63739 6.82584C8.75689 6.96242 5.75148 8.2885 5.24641 8.59154C3.91277 9.39173 2.75596 10.9866 3.66128 12.5644C4.32114 13.7144 7.70668 14.0178 7.11244 15.5741C6.24829 17.8374 3.49523 18.853 2.21662 20.7709C0.752343 22.9674 7.17285 22.0847 7.67427 21.9548C12.4181 20.7259 15.1959 17.9769 17.165 13.5074C18.8138 9.76478 19.7179 4.05454 14.7572 2.53195C11.8844 1.65021 9.0265 2.13065 6.1092 2.13065"
          stroke="white"
          stroke-width="3"
          stroke-linecap="round"></path>
      </svg>
    </a>
    <div class="nav-link-container">
      <a class="nav-link" href="/about">about</a>
      <a class="nav-link" href="/contact">contact</a>
    </div>
    <!-- <div>blog</div> -->
  </nav>
</header>

<style define:vars={{ navPadding }}>
  nav,
  footer {
    display: flex;
    /* text-align: center; */
    align-items: center;
    justify-content: center;
    padding: var(--navPadding);
  }

  header {
    /* position: sticky;
    top: -1.3em; */
  }
  nav {
    justify-content: space-around;
  }
  /* NAV LINKS */
  .nav-link {
    padding: 10px;
    border-radius: 1rem;
    transition: all 0.3s ease-in-out;
    color: inherit;
    /* blue colors for links too */
    text-decoration: none;
    /* no underline */
    /* background: radial-gradient(closest-side, rgb(49,46,46),rgb(49,46,46), #000); */
    background: radial-gradient(
      closest-side,
      rgb(49, 46, 46),
      rgba(138, 127, 120, 0.6),
      #fff0
    );
    background-size: 0px 0px;
    background-position: 50% 50%;
    background-repeat: no-repeat;

    font-family: Poppins, sans-serif;
    font-weight: 700;
    letter-spacing: 0.15em;

    /* -webkit-text-fill-color: white; */
    /* font-family: 'Annie Use Your Telescope'; */
  }

  .nav-link:focus {
    outline: 3px solid rgb(222, 184, 135);
  }
  .nav-link:hover {
    /* background-color: rgb(49, 46, 46); */
    background-size: 100% 100%;
    -webkit-text-stroke: 1px white;
    /* -webkit-text-fill-color: white; */
    /* font-size: 1.2em; */
    color: transparent;
  }

  /* NAV LOGO */
  .nav-logo {
  }

  .nav-logo:hover {
  }

  @media screen and (min-width: 500px) and (max-width: 799px) {
    .nav-link {
      padding: 1rem 2rem;
    }
  }

  @media screen and (min-width: 800px) {
    .nav-link {
      /* padding: 2rem 4rem; */
      font-size: 2rem;
    }
  }

  lottie-player,
  nav svg {
    width: 36px;
  }

  @keyframes draw {
    from {
      stroke-dashoffset: 300;
      /* Start with a larger dash offset to hide the entire path */
    }

    to {
      stroke-dashoffset: 0;
      /* Fully reveal the path */
    }
  }
  @keyframes draw-on-hover {
    from {
      stroke-dashoffset: 300;
      /* Start with a larger dash offset to hide the entire path */
    }

    to {
      stroke-dashoffset: 0;
      /* Fully reveal the path */
    }
  }

  #animatedCurve {
    stroke-dasharray: 300;
    /* Total length of the path */
    stroke-dashoffset: 100;
    /* Initial dash offset, hides the entire path */
    animation: draw 10s cubic-bezier(0.22, 0.61, 0.36, 1) forwards infinite;
    /* Animate the drawing using the 'draw' animation */
    opacity: 0.7;
  }

  .nav-logo:focus #animatedCurve,
  .nav-logo:active #animatedCurve,
  .nav-logo:hover #animatedCurve {
    opacity: 1;
    fill: burlywood;
    animation: draw-on-hover 10s cubic-bezier(0.22, 0.61, 0.36, 1) forwards
      infinite;
  }

  .nav-link-container {
    display: flex;
    justify-content: space-evenly;
    /* gap: 1rem; */
    width: 100%;
  }

  @media (max-width: 356px) {
    .nav-link-container {
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center;
    }
  }
</style>
