<article id="experience-description">
  <section>
    <blockquote>
      "Tell me and I forget, teach me and I may remember, involve me and I
      learn."
      <span>- Benjamin Franklin</span>
    </blockquote>
  </section>
  <h1>Technical Instructor</h1>
  <section id="overview">
    I have been teaching software development for over 5 years. I have
    experience teaching in-person and online. I have taught at the college level
    and have also taught at coding bootcamps. I have experience teaching front
    to back Web Development, graphic design, and software development best
    practices.
  </section>

  <section>
    <h2>I have worked with the following institutions:</h2>
    <ul>
      <li>Brooklyn Public Library, Coding for Kids</li>
      <li>Columbia University, Double Discovery Program</li>
      <li>Change Food for Good, Intro to AgTech</li>
      <li>Social Gatherings Where Computers are Magic</li>
    </ul>
  </section>

  <section id="responsibilities">
    <h2>Taught key software development practices and skillsets:</h2>
    <div id="skills">
      <div id="hard-skills">
        <h3>Hard Skills:</h3>
        <ul>
          <li>HTML, CSS, JavaScript</li>
          <li>Command Line / Shell Scripts</li>
          <li>Git/GitHub</li>
          <li>General Computer & Software Proficiency</li>
        </ul>
      </div>
      <div id="soft-skills">
        <h3>Soft Skills:</h3>
        <ul>
          <li>Agile, Scrum, Waterfall, TTD, CI/CD</li>
          <li>Open Source Contribution</li>
          <li>Technical Interviewing</li>
          <li>Networking</li>
        </ul>
      </div>
    </div>
  </section>
  <section>
    <h2>And mentored advanced students in:</h2>
    <ul>
      <li>React, Redux, Next</li>
      <li>Node.js, Express, MongoDB, MySQL, Jest, Mocha</li>
      <li>Python, Django, Flask, BeautifulSoup, Selenium</li>
    </ul>
  </section>

  <section id="resume-link">
    View my <a href="/public/DanielSegarraResume2024.pdf" target="_blank"
      >current resume</a
    >
  </section>
</article>

<style>
  blockquote {
    font-size: 1.5rem;
    font-style: italic;
    /* margin-bottom: 1rem; */
    color: #97938f;
  }
  blockquote span {
    display: block;
    font-size: 1rem;
  }
  #experience-description {
    /* min-height: 100dvh; */
    height: auto;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
  }
  #experience-description h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  #overview {
    max-width: 50em;
  }
  #experience-description h2 {
    text-align: center;
  }
  #experience-description ul {
    list-style-position: inside;
    padding-left: 1rem;
  }
  #experience-description p:not(:first-of-type) {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  #experience-description section:not(:first-of-type) {
    margin-bottom: 2rem;
  }
  #experience-description section {
    /* font-size: 1.5rem; */
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  #experience-description a {
    transition: all 0.3s ease-in-out;
  }
  #experience-description a:hover {
    font-size: 1.5rem;
    /* margin-bottom: 1rem; */
  }

  /* make flex container where first item, h2 take up full width while rest share a row */
  #responsibilities {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  #skills {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  #experience-description #resume-link {
    display: block;
  }
</style>

<script>
  // gsap animate sections in
  gsap.from("#experience-description > *", {
    scrollTrigger: {
      trigger: "#experience-description",
      start: "top 80%",
      end: "bottom 20%",
      // toggleActions: "play none none none",
    },
    opacity: 0,
    y: 50,
    duration: 1,
    stagger: 0.2,
  });
</script>
