---
import SinglePageLayout from "../../layouts/SinglePageLayout.astro";
---

<SinglePageLayout title="Education" footer={false}>
  <nav>
    <ul>
      <li>
        <a
          href="https://danielsegarra.dev/LemonPianoPillow/"
          target="_blank"
          rel="noopener noreferrer"
          ><mark>Celebrating Student Accoplishments</mark></a
        >
      </li>
      <li>
        <a
          href="https://danielsegarra.dev/dreamy-compactor-slurp/"
          target="_blank"
          rel="noopener noreferrer"><mark>Start Learning TODAY!</mark></a
        >
      </li>
    </ul>
  </nav>
</SinglePageLayout>

<style>
  nav,
  ul,
  a {
    width: 100%;
    height: 100%;
  }

  nav {
    overflow: hidden;
  }

  ul,
  li > a {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  li:nth-child(1):before,
  li:last-child:before {
    content: "";
    position: absolute;
    width: 50%;
    height: 100%;
  }

  li:nth-child(1):before {
    top: 0;
    left: 0;
  }

  li:nth-child(1):before {
    bottom: 0;
    right: 0;
  }

  li {
    /*! height: 50%; */
    position: relative;
    list-style-type: none;
    flex: 1 0 0%;
    align-self: stretch;
    /*   font-size: clamp(1.2rem, 0.8579rem + 2.1895vw, 2.5rem); */
    font-size: clamp(1.2rem, 0.6091rem + 3.7818vw, 2.5rem);
  }

  li:hover {
    /*   z-index: 100; */
  }

  li > a {
    height: 100%;
    padding: 0 1rem;
    text-decoration: none;
    color: black;
    transform: skewX(-5deg);
    transition: all 2s ease;
  }

  li > a:focus,
  li > a:hover {
    box-shadow: -10px 0px 5px 5px #484848;
    scale: 1.2;
  }

  a::after {
    content: "";
    position: absolute;
    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    transition: all 2s ease;
  }

  a:focus::after,
  a:hover::after {
    content: "";
    position: absolute;
    inset: -1rem;
    filter: blur(2.5em);
    z-index: -1;
    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    transition: all 2s ease;
  }

  li:nth-child(1) > a:focus::after,
  li:nth-child(1) > a:hover::after {
    background: linear-gradient(to bottom right, #5b8f691c, 90%, #4d795694);
  }

  li:nth-child(2) > a:focus::after,
  li:nth-child(2) > a:hover::after {
    background: linear-gradient(to bottom right, #4245440d, 80%, #393939);
  }

  /* li:nth-child(1):before, */
  li:nth-child(1) > a {
    background: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fmedia.edutopia.org%2Fstyles%2Fresponsive_2880px_original%2Fs3%2Fmasters%2F2018-11%2FiStock-1005285232_master.jpg&f=1&nofb=1&ipt=5299c124ebbf7cd9888f0e589459b65d3b66549803023b6f91550e03881bfdaf&ipo=images");
    background-position: center;
    color: darkgoldenrod;
  }

  li:nth-child(1):before {
    background-position: center top;
  }

  li:nth-child(2) > a,
  li:nth-child(2):before {
    background: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fassets.eventingnation.com%2Fwp-content%2Fuploads%2F2019%2F03%2F14160427%2FKindDizzyAbalone-size_restricted.gif&f=1&nofb=1&ipt=1db655cf45ac84f4e2d84e081e6ca4f608b56432c7665a4e81995d20757e7e25&ipo=images");
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
    background-size: cover;
  }

  li:nth-child(1) {
    background: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fmedia.edutopia.org%2Fstyles%2Fresponsive_2880px_original%2Fs3%2Fmasters%2F2018-11%2FiStock-1005285232_master.jpg&f=1&nofb=1&ipt=5299c124ebbf7cd9888f0e589459b65d3b66549803023b6f91550e03881bfdaf&ipo=images");
    background-position: center;
  }

  mark {
    padding: 0.5rem 1rem;
    background-color: white;
  }
</style>

<script
  is:inline
  src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.0/gsap.min.js"></script>
<script>
  gsap.to("nav > ul > li > a > mark", {
    opacity: 1,
    duration: 5,
    ease: "ease-in",
  });
  // Use GSAP to animate the initial position of the <li> elements
  gsap.from("nav ul li:nth-child(1)", {
    x: -100,
    opacity: 0,
    duration: 1.6,
    ease: "ease-in",
  });
  gsap.from("nav ul li:last-child", {
    x: 100,
    opacity: 0,
    duration: 1.6,
    ease: "ease-in",
  });
</script>
