---
import TeachingGoals from "../../components/TeachingGoals.astro";
import WorkTimeline from "../../components/WorkTimeline.astro";
import ScrollLayout from "../../layouts/ScrollLayout.astro";
---

<ScrollLayout title="Professional Work" snapScroll={true}>
  <!-- <TeachingGoals /> -->
  <nav id="xp-nav">
    <ul>
      <li>
        <a href="/work/education"><mark>Technical Instructor</mark></a>
      </li>
      <li>
        <a href="/work/portfolio"><mark>Software Engineer</mark></a>
      </li>
    </ul>
  </nav>
  <blockquote>
    "Tell me and I forget, teach me and I may remember, involve me and I learn."
    <span>- Benjamin Franklin</span>
  </blockquote>
  <WorkTimeline />
</ScrollLayout>

<style>
  @import url(https://fonts.googleapis.com/css?family=Exo+2:400,900,800,700,600,500,300,200,100);
  blockquote {
    font-size: 1.5rem;
    font-style: italic;
    margin: 2rem auto;
    width: 80%;
    /* color: #97938f; */
    color: #c7b59ea8;
    width: fit-content;
    /* text-align: center; */
    max-width: 80%;
  }
  blockquote span {
    display: block;
    font-size: 1rem;
    /* width: fit-content; */
    text-align: left;
    /* width: 80%; */
    margin: 0 auto;
  }
  #xp-nav,
  #xp-nav ul,
  #xp-nav ul li a {
    width: 100%;
    height: 70svh;
  }

  #xp-nav {
    overflow: hidden;
  }

  #xp-nav ul,
  #xp-nav li > a {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  #xp-nav li:nth-child(1):before,
  #xp-nav li:last-child:before {
    content: "";
    position: absolute;
    width: 50%;
    height: 100%;
  }

  #xp-nav li:nth-child(1):before {
    top: 0;
    left: 0;
  }

  #xp-nav li:nth-child(1):before {
    bottom: 0;
    right: 0;
  }

  #xp-nav li {
    /*! height: 50%; */
    position: relative;
    list-style-type: none;
    flex: 1 0 0%;
    align-self: stretch;
    /*   font-size: clamp(1.2rem, 0.8579rem + 2.1895vw, 2.5rem); */
    font-size: clamp(1.2rem, 0.6091rem + 3.7818vw, 2.5rem);
  }

  #xp-nav li > a {
    height: 100%;
    padding: 0 1rem;
    text-decoration: none;
    color: black;
    transform: skewX(-5deg);
    transition: all 2s ease;
  }

  #xp-nav li > a:focus,
  #xp-nav li > a:hover {
    box-shadow: -10px 0px 5px 5px #484848;
    scale: 1.2;
  }

  #xp-nav a::after {
    content: "";
    position: absolute;
    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    transition: all 2s ease;
  }

  #xp-nav a:focus::after,
  #xp-nav a:hover::after {
    content: "";
    position: absolute;
    inset: -1rem;
    filter: blur(2.5em);
    z-index: -1;
    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    transition: all 2s ease;
  }

  #xp-nav li:nth-child(1) > a:focus::after,
  #xp-nav li:nth-child(1) > a:hover::after {
    background: linear-gradient(to bottom right, #5b8f691c, 90%, #4d795694);
  }

  #xp-nav li:nth-child(2) > a:focus::after,
  #xp-nav li:nth-child(2) > a:hover::after {
    background: linear-gradient(to bottom right, #4245440d, 80%, #393939);
  }

  #xp-nav li:nth-child(1),
  #xp-nav li:nth-child(1):before,
  #xp-nav li:nth-child(1) > a {
    background: url("../../assets/DanielTeachingCropped1.jpg");
    background-position: right;
    color: darkgoldenrod;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #xp-nav li:nth-child(1):before {
    background-position: center top;
  }

  #xp-nav li:nth-child(2) > a {
    background: url("https://media.istockphoto.com/id/1294575605/video/freelancer-working-on-his-laptop-at-night.jpg?s=640x640&k=20&c=I2lm8Av87-nPsp6_RUefXLyPM99l02ogQCZY253oi4o=");
    background-position: right;
    background-repeat: no-repeat;
    background-color: black;
    background-size: 250%;
  }

  #xp-nav li:nth-child(2):before {
    background-color: black;
  }

  #xp-nav mark {
    padding: 0.5rem 1rem;
    background-color: white;
    transition: all 2s ease;
    /* font-weight: 300; */
    font-family: "Exo 2", sans-serif;
    font-weight: 100;
    color: #2c3e50;

    transition: font-weight 0.4s ease-in-out;
  }

  #xp-nav li:hover {
    z-index: 100;
    background-size: contain;
    background-repeat: no-repeat;
  }
  #xp-nav a:hover mark {
    background-color: burlywood;
    color: #253237;
    font-weight: 900;
    /* font-weight: bold; */
  }
</style>
<script
  is:inline
  src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.0/gsap.min.js"></script>
<script
  is:inline
  src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.0/ScrollTrigger.min.js"
></script>
<script>
  // on scroll, animate the <mark> elements
  gsap.from("#xp-nav > ul > li > a > mark", {
    opacity: 0,
    duration: 5,
    ease: "ease-in",
    scrollTrigger: {
      trigger: "#xp-nav",
      start: "top 100%",
      end: "bottom bottom",
      scrub: 1,
    },
  });
  // Use GSAP scroll trigger to animate the initial position of the <li> elements
  gsap.from("#xp-nav ul li:nth-child(1)", {
    x: -100,
    opacity: 0,
    duration: 1.6,
    ease: "ease-in",
    scrollTrigger: {
      trigger: "#xp-nav",
      start: "top 100%",
      end: "bottom bottom",
      scrub: 1,
    },
  });
  gsap.from("#xp-nav ul li:last-child", {
    x: 100,
    opacity: 0,
    duration: 1.6,
    ease: "ease-in",
    scrollTrigger: {
      trigger: "#xp-nav",
      start: "top 100%",
      end: "bottom bottom",
      scrub: 1,
    },
  });
</script>
