---
import ScrollLayout from "../../layouts/ScrollLayout.astro";
import SinglePageLayout from "../../layouts/SinglePageLayout.astro";
import PerspectiveContainer from "../../layouts/PerspectiveContainer.astro";
import ScrollItem from "../../components/ScrollItem.astro";

let pr_color = "#fff";
let second_color = "#0a0a0a";
let color_1_1 = "#be2518";
let color_1_2 = "#ff6b4f";
let cubicbz = "cubic-bezier(0.9, 0, 0.1, 1)";
let fz_big = "60px";
let pd = "50px";
---

<ScrollLayout title="Daniel Segarra: Portfolio">
  <div class="window_split_sticky_scroll">
    <div class="scroll_window">
      <ScrollItem
        label="01"
        title_line_1="Auto"
        title_line_2="Meal"
        description="Automated food recommendations based on your pantry, wants, and needs."
        link="https://github.com/automeal/AutoMeal"
        button_text="try now"
      />
      <ScrollItem
        label="02"
        title_line_1="Sumaryze"
        title_line_2="That!"
        description="Leveraging OpenAI to summarize YouTube videos with ease."
        link="http://sumaryzethat.danielsegarra.dev/"
        button_text="try now"
      />
      <ScrollItem
        label="03"
        title_line_1=""
        title_line_2="OGalaga"
        description="Classic game written in OCaml."
        link="https://github.com/buhotech/OGalaga"
        button_text="play now"
      />
      <ScrollItem
        label="04"
        title_line_1=""
        title_line_2="Yahtzee"
        description="Digitizing a classic handheld experience"
        link="http://danielsegarra.dev/yahtzee"
        button_text="play now"
      />
    </div>
    <div class="sticky_window">
      <img
        class="sticky_content"
        title="AutoMeal (random 'fruit' image)"
        alt="fruit (random image)"
        src="https://source.unsplash.com/random/400×400/?fruit"
      />
      <img
        class="sticky_content"
        title="Sumaryze That! (random 'AI' image)"
        alt="AI (random image)"
        src="https://source.unsplash.com/random/400×400/?ai"
      />
      <!-- <iframe
          src="http://sumaryzethat.danielsegarra.dev/"
          width="100%"
          height="100%"
          frameborder="0"></iframe> -->
      <img
        class="sticky_content"
        title="OGalaga (random 'spaceship' image)"
        alt="spaceship (random image)"
        src="https://source.unsplash.com/random/400×400/?spaceship"
      />
      <img
        class="sticky_content"
        title="Yahtzee (random 'yahtzee dice' image)"
        alt="yahtzee dice (random image)"
        src="https://source.unsplash.com/random/400×400/?yahtzee%20dice"
      />
    </div>
  </div>
  <div class="other_work">
    <h2>Other Work</h2>
    <a href="#">stuff im working on now</a>
    <a href="#">miscellaneous work</a>
    <a href="#">single-page mockups</a>
    <a href="https://danielsegarra.dev/throwingAxeMenuAnimation"
      >throwingAxeMenuAnimation</a
    >
    <a href="https://danielsegarra.dev/CFFG2PB">CFFG2PB</a>
  </div>
</ScrollLayout>

<style
  define:vars={{
    pr_color,
    second_color,
    color_1_1,
    color_1_2,
    cubicbz,
    fz_big,
    pd,
  }}
>
  :root {
    --pr-color: #fff;
    --second-color: #0a0a0a;
    --color-1-1: #be2518;
    --color-1-2: #ff6b4f;
  }

  * {
    box-sizing: border-box;
    font-family: "Syne", sans-serif;
    font-weight: 800;
    margin: 0;
    padding: 0;
    /* font-feature-settings: "pnum" on, "lnum" on; */
  }

  body {
    background-color: var(--second-color);
  }

  .window_split_sticky_scroll {
    position: relative;
    width: 100%;
    height: auto;
    padding: 0 20px;
    z-index: 1;
    display: flex;
  }

  .scroll_window {
    position: relative;
    width: 54%;
    z-index: 2;
    /* outline: 1px solid red; */
  }

  .sticky_window {
    width: 46%;
    height: 100vh;
    position: sticky;
    top: 25vh;
    /* display: flex; */
    /* flex-direction: column; */
    /* max-width: 400px; */
    max-width: 30%;
    height: 50vh;
    /* margin-right: auto; */
    cursor: pointer;
    border-radius: 80px;
    overflow: hidden;
    margin: 25vh auto 25vh 0px;
    margin-top: 25vh;
  }

  .sticky_content {
    position: absolute;
    display: block;

    width: 100%;
    height: 100%;
    object-fit: cover;

    background-color: black;
    text-align: center;
    color: white;
    font-size: 2rem;
    line-height: 30vh;
  }

  .sticky_content:not(:last-child) {
    clip-path: none;
  }

  @media screen and (max-width: 500px) {
    .sticky_window {
      top: 15%;
      margin-top: 0px;
      margin-left: auto;
      margin-right: 0;
    }
  }

  .other_work {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100dvh;
    background: linear-gradient(
      to bottom,
      rgb(211, 161, 95) 0%,
      rgb(157, 112, 54) 70%,
      rgb(134, 93, 40) 80%,
      #1e1101 100%,
      rgb(13, 13, 13) 100%
    );
    color: white;
  }
  .other_work > a {
    margin: 10px;
    padding: 10px;
    border: 1px solid white;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    transition: font-size 0.3s ease-in-out;
  }

  .other_work > h2 {
    font-size: 2rem;
    margin: 20px;
    text-align: center;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: white;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  .other_work > a:focus,
  .other_work > a:hover {
    font-size: 1.5em;
    background-color: #e5d7c4;
    /* -webkit-text-stroke: 1px black; */
    /* color: transparent !important; */
    color: #4d4d4d !important;
  }

  .other_work > a:active {
    /* background-color: var(--color-1-1); */
    /* color: var(--second-color); */
  }

  .other_work > a:visited {
    color: burlywood;
  }

  .other_work > a:link {
    /* color: white; */
  }
</style>
<script
  define:vars={{
    pr_color,
    second_color,
    color_1_1,
    color_1_2,
    cubicbz,
    fz_big,
    pd,
  }}
>
  document.addEventListener("DOMContentLoaded", function () {
    "use strict";

    gsap.from(".sticky_window", {
      clipPath: function () {
        return "inset(0px 0px 0px 150%)";
      },
      stagger: 0.5,
      ease: "none",
    });
    // fade in scroll window
    gsap.from(".scroll_window", {
      opacity: 0,
      duration: 1,
      ease: "ease-in",
    });

    gsap.registerPlugin(ScrollTrigger);

    // lenis smooth scroll
    const lenis = new Lenis({
      duration: 1.2,
    });
    function raf(time) {
      lenis.raf(time);
      requestAnimationFrame(raf);
    }

    requestAnimationFrame(raf);

    // Integration Lenis on GSAP ScrollTrigger
    lenis.on("scroll", ScrollTrigger.update);

    gsap.ticker.add((time) => {
      lenis.raf(time * 1000);
    });

    let workInfoItems = document.querySelectorAll(".sticky_content");
    workInfoItems.forEach(function (item, index) {
      item.style.zIndex = workInfoItems.length - index;
    });

    gsap.set(".sticky_content", {
      clipPath: function () {
        return "inset(0px 0px 0px 0px)";
      },
    });

    const animation = gsap.to(".sticky_content:not(:last-child)", {
      clipPath: function () {
        return "inset(0px 0px 150% 0px)";
      },
      stagger: 0.5,
      ease: "none",
    });

    ScrollTrigger.create({
      trigger: ".window_split_sticky_scroll",
      start: "top-top",
      end: "bottom bottom",
      animation: animation,
      scrub: 2,
      // scrub: workInfoItems.length,
    });
    // Define the animation
    const otherWorkAnimation = gsap.from(".other_work > *", {
      opacity: 0,
      y: 20,
      x: "-100%",
      duration: 1,
      stagger: 0.25, // should be a quarter of duration
      ease: "power2.inOut",
    });

    // Trigger the animation when the section enters the viewport
    ScrollTrigger.create({
      trigger: ".other_work",
      start: "top 80%", // Adjust as needed
      animation: otherWorkAnimation,
      onEnter: () => otherWorkAnimation.restart(),
      // once: true, // Play animation only once
    });
  });
</script>

<!-- lenis, gsap, and gsap scroll trigger -->
<script
  is:inline
  src="https://cdn.jsdelivr.net/gh/studio-freight/lenis@1.0.0/bundled/lenis.js"
></script>
<script
  is:inline
  src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.0/gsap.min.js"></script>
<script
  is:inline
  src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.0/ScrollTrigger.min.js"
></script>

<!-- good images for scroll window -->
<!-- https://images.unsplash.com/photo-1681040488449-5a445633bb7e?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxfDB8MXxyYW5kb218MHx8eWFodHplZSBkaWNlfHx8fHx8MTcwNTc1NjM4Mg&ixlib=rb-4.0.3&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1080 -->
<!-- https://images.unsplash.com/photo-1610483155766-e50e9774ad7f?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxfDB8MXxyYW5kb218MHx8c3BhY2VzaGlwfHx8fHx8MTcwNTc1NjM4Mg&ixlib=rb-4.0.3&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1080 -->
<!-- https://images.unsplash.com/photo-1490474418585-ba9bad8fd0ea?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxfDB8MXxyYW5kb218MHx8ZnJ1aXR8fHx8fHwxNzA1NzU2Mzgy&ixlib=rb-4.0.3&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1080 -->
