---
interface Props {
  title: string;
  footer?: boolean;
}

const { title, footer=true } = Astro.props;

import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Nav />
    <slot />
    {footer ? <Footer /> : <div />}
    <script
      src="https://kit.fontawesome.com/d947b584dc.js"
      crossorigin="anonymous"></script>
  </body>
</html>
<style is:global>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body,
  html {
    background-color: black;
    height: 100%;
  }

  body {
    color: white;
    /*! height: 100vh; */
    display: grid;
    grid-template-rows: auto 1fr auto;
    /* needed to take up full page height */
    margin: 0 8px;
  }
  body,
html {
  background-color: black;
}

body {
  color: white;
  /* height: 100vh; */
  /* needed to take up full page height */
  /* margin: 0 8px; */
}
</style>
