---
interface Props {
  title: string;
}

const { title} = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Daniel Segarra description portfolio education full stack software engineer"
    />
    <meta name="author" content="Daniel Segarra" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="manifest" href="../../manifest.json" />
    <!-- <meta name="color-scheme" content="dark light" /> -->
    <title>{title}</title>
  </head>
  <body>
    <slot/>
  </body>
</html>

<style>
  * {
    margin: 0;
    padding: 0;
  }

  html,body,slot {
    height: 100%;
    width: 100%;
  }
</style>