---
interface Props {
  title: string;
  footer?: boolean;
  navCheck?: boolean;
  marquee?: boolean;
}

const { title, footer = true, navCheck = true, marquee = false } = Astro.props;

import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
// import { ViewTransitions } from "astro:transitions";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Daniel Segarra description portfolio education full stack software engineer"
    />
    <meta name="author" content="Daniel Segarra" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="manifest" href="../../manifest.json" />
    <!-- <meta name="color-scheme" content="dark light" /> -->
    <!-- <ViewTransitions /> -->
    <title>{title}</title>
  </head>
  <body>
    {navCheck ? marquee ? <Nav marquee={true} /> : <Nav /> : <div />}
    <slot />
    {footer ? <Footer /> : <div />}
    <script
      src="https://kit.fontawesome.com/d947b584dc.js"
      crossorigin="anonymous"></script>
  </body><style is:global>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    body,
    html {
      background-color: black;
      height: 100%;
    }

    body {
      color: white;
      /*! height: 100vh; */
      display: grid;
      grid-template-rows: auto 1fr auto;
      /* needed to take up full page height */
      /* margin: 0 8px; */
    }
    body,
    html {
      background-color: black;
    }

    body {
      color: white;
      /* height: 100vh; */
      /* needed to take up full page height */
      /* margin: 0 8px; */
    }
  </style>
</html>
